pipeline/SimpleSchemaComparsion.json
{
	"name": "SimpleSchemaComparsion",
	"properties": {
		"activities": [
			{
				"name": "Get_Ref_Schema",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_sourceFileSchema",
						"type": "DatasetReference"
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Scenario1InputFile",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_sourceSchemaInput",
						"type": "DatasetReference",
						"parameters": {
							"InputFileName": {
								"value": "@pipeline().parameters.Scenarion1InputFileName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Compare_schemas",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get_Ref_Schema",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Scenario1InputFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get_Ref_Schema').output.structure,activity('Scenario1InputFile').output.structure)\n\n\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "validationfalse",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "var",
								"value": "schema NotMatched"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "ValidateionTrue",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "var",
								"value": " schema Matched"
							}
						},
						{
							"name": "Scenario1InputLoad",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ValidateionTrue",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sourceSchemaInput",
									"type": "DatasetReference",
									"parameters": {
										"InputFileName": {
											"value": "@pipeline().parameters.Scenarion1InputFileName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sqlsink",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Scenarion1InputFileName": {
				"type": "string",
				"defaultValue": "Employees.csv"
			},
			"Scenarion2InputFilename": {
				"type": "string"
			},
			"Scenarion3InputFilename": {
				"type": "string"
			}
		},
		"variables": {
			"var": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Expilcit_Schema_Valid_demos"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-23T19:05:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}